@model IEnumerable<Template.Models.Department>

@{
    ViewData["Title"] = "Index";
}


<div class="create_btn"><a asp-action="Create">Create Department</a></div>
<div class="row">
    <div class="col-md-8">
        <div id="partialDepartmentDetails"></div>
    </div>
    <div class="col-md-4">
        <div class="dapartment_list">
            <h4>Departments</h4>
            <form asp-controller="Departments" asp-action="Index">
                <input type="text" name="search">
                <input type="submit" value="search" />
            </form>
            <ul>
                @foreach (var item in Model)
                {
                    <li onclick="generate(@item.Id)"><a href="javascript:void(0)">@Html.DisplayFor(modelItem => item.NameEN)</a></li>
                }
            </ul>
        </div>

    </div>
</div>


<!--Script start-->
<script type="text/javascript">

    function generate(id) {
        if (id >= 0) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("partialDepartmentDetails","Departments")',
                data: { id: JSON.stringify(id) },
                dataType: "JSON",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#partialDepartmentDetails").html("");
                    $("#partialDepartmentDetails").html(data.responseText);
                },
                error: function (data) {
                    $("#partialDepartmentDetails").html("");
                    $("#partialDepartmentDetails").html(data.responseText);
                }
            });
        }
    }

</script>
<!--Script End-->
